.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitattributes
.gitignore
tsconfig.json
vsc-extension-quickstart.md
images/how-to-use.png
images/screenshot.png
images/zoomhex.1024.png
images/zoomhex.ico
.history/**
private/**
tsconfig.json
tslint.json
desktop.ini
